/*! NAVBAR */

#app {
  min-height: 100vh;
}

#app .c-2 {
  padding: 0 2em;
  border-radius: 0.5em;
}

#app .c-2 .logo {
  color: white;
  font-size: 25px;
  letter-spacing: 3px;
}

#app .c-2 .btn {
  border: 1px solid rgb(125, 125, 125, 0.5);
}

#app .c-2 .btn:hover {
  background-color: white;
  color: black;
}

/* VIEW-BARANG */

#app .view {
  background-color: rgb(130, 130, 130);
  width: 80%;
  height: 200px;
  overflow-y: scroll;
}

.view #table {
  margin: auto;
  width: 80%;
  height: 100px;
  border: 1px rgb(0, 0, 0, 0.3) solid;
  text-transform: capitalize;
}

/*! RESPONSIVE */
